.updateAdminprodcut{
    width: auto;
    height:auto;
    background-color: white;
    border: 1px solid black;
.updateadminproductfieldsection{
    width: 700px;
    height: auto;
    margin: 0 auto;
    border: 5px solid rgb(230,172,172);
    padding: 10px;
    .product_field{
        width: 95%;
        height: 35px;
        margin-bottom: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }
   
}
}