<div class="container updateAdminprodcut">
  <div class="d-flex justify-content-end mt-3">
    <button (click)="closePopup()">
      <i class="fa fa-window-close" aria-hidden="true"></i>
    </button>
  </div>
  <div class="updateadminproductfieldsection mt-3">
    <form
      [formGroup]="updateProductsData"
      (ngSubmit)="
        updateProductsDetails(updateProductsData, productItemResponse.id)
      "
    >
      <input
        type="number"
        name="prodcutid"
        id=""
        class="product_field"
        formControlName="productId"
      />
      <input
        type="text"
        name="prodcuttitle"
        id=""
        class="product_field"
        formControlName="title"
      />
      <input
        type="number"
        id=""
        class="product_field"
        formControlName="quantity"
      />
      <input
        type="number"
        id=""
        class="product_field"
        formControlName="rating"
      />
      <input
        type="number"
        id=""
        class="product_field"
        formControlName="price"
      />
      <input
        type="text"
        name=""
        id=""
        class="product_field"
        formControlName="image"
      />
      <div formArrayName="imageUrls">
        <div *ngFor="let images of imageUrls.controls; let i = index">
          <div [formGroupName]="i">
            <input type="text" name="" id="" formControlName="imageurl" />
            <button (click)="removeImageUrl(i)" class="btn btn-danger">
              Remove
            </button>
          </div>
        </div>
      </div>
      <p>
        <button type="button" (click)="addNewImage()" class="btn btn-success">
          Add
        </button>
      </p>
      <!-- <div formArrayName="imageUrls">
        <div *ngFor="let imageurl of imageUrls; let i = index">
          <div [formGroupName]="i">
            <div class="update-image-urls">
              <input type="text" id="" formControlName="imageurl1" />
              <input
                type="text"
                name="name2"
                id=""
                formControlName="imageurl2"
              />
              <input
                type="text"
                name="name3"
                id=""
                formControlName="imageurl3"
              />
              <button class="btn btn-danger">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-success">Update Image Urls</button> -->
      <input
        type="text"
        name=""
        id=""
        class="product_field"
        formControlName="category"
      />
      <input
        type="text"
        name=""
        id=""
        class="product_field"
        formControlName="subcategory"
      />
      <div class="d-flex justify-content-center">
        <input class="btn btn-success" type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>
