<div class="container updateAdminprodcut">
  <div class="d-flex justify-content-end mt-3">
    <button (click)="closePopup()">
      <i class="fa fa-window-close" aria-hidden="true"></i>
    </button>
  </div>
  <div class="updateadminproductfieldsection mt-3">
    <form
      [formGroup]="updateProductsData"
      (ngSubmit)="updateProductsDetails(updateProductsData, productItem[0].id)"
    >
      <input
        type="number"
        name="prodcutid"
        id=""
        class="product_field"
        [value]="id"
        formControlName="id"
      />
      <input
        type="text"
        name="prodcuttitle"
        id=""
        class="product_field"
        [value]="title"
        formControlName="title"
      />
      <input
        type="number"
        id=""
        class="product_field"
        [value]="quantity"
        formControlName="quantity"
      />
      <input
        type="number"
        id=""
        class="product_field"
        [value]="rating"
        formControlName="rating"
      />
      <input
        type="number"
        id=""
        class="product_field"
        [value]="price"
        formControlName="price"
      />
      <input
        type="text"
        name=""
        id=""
        class="product_field"
        [value]="imageUrl"
        formControlName="image"
      />
      <div formArrayName="imageUrls">
        <div *ngFor="let imageurl of imageUrls; let i = index">
          <div [formGroupName]="i">
            <div class="update-image-urls">
              <input
                type="text"
                name="i"
                id=""
                [value]="image1"
                formControlName="imageurl1"
              />
              <input
                type="text"
                name="i"
                id=""
                [value]="image2"
                formControlName="imageurl2"
              />
              <input
                type="text"
                name="i"
                id=""
                [value]="image3"
                formControlName="imageurl3"
              />
              <button class="btn btn-danger" (click)="removeImageUrls(i)">
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-success" (click)="addImageUrls()">
        Update Image Urls
      </button>
      <input
        type="text"
        name=""
        id=""
        class="product_field"
        [value]="category"
        formControlName="category"
      />
      <input
        type="text"
        name=""
        id=""
        class="product_field"
        [value]="subcategory"
        formControlName="subcategory"
      />
      <div formArrayName="sellerDetails">
        <div *ngFor="let seller of sellerDetails; let i = index">
          <div [formGroupName]="i">
            <div class="add-seller-similar_products">
              <input
                type="text"
                name="i"
                id=""
                [placeholder]="sellerTitle"
                formControlName="title"
              />

              <input
                type="text"
                name="i"
                id=""
                [placeholder]="sellerPrice"
                formControlName="price"
              />
              <input
                type="text"
                name="i"
                id=""
                [placeholder]="sellerbrand"
                formControlName="brand"
              />
              <input
                type="text"
                name="i"
                id=""
                [placeholder]="sellercategory"
                formControlName="category"
              />
              <input
                type="text"
                name="i"
                id=""
                [placeholder]="sellervendor"
                formControlName="vendor"
              />
              <input
                type="text"
                name="i"
                id=""
                [placeholder]="sellerimage1"
                formControlName="imageurl1"
              />
              <input
                type="text"
                name="i"
                id=""
                [placeholder]="sellerimage2"
                formControlName="imageurl2"
              />
              <input
                type="text"
                name="i"
                id=""
                [placeholder]="sellerimage3"
                formControlName="imageurl3"
              />
              <button class="btn btn-danger" (click)="removeSellerDetails(i)">
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-success" (click)="addSellerDetails()">
        Update similar product details
      </button>
      <div class="d-flex justify-content-center">
        <input class="btn btn-success" type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>
