<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><i class="fa fa-truck fa-2x text-danger" aria-hidden="true"></i>E
      Commerce Expresses
    </a>
  </div>
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home"
          ><i class="fa fa-home" aria-hidden="true">Home </i></a
        >
      </li>
      <li class="nav-item" [ngClass]="admin">
        <a class="nav-link" routerLink="/products"
          ><i class="fa fa-shopping-bag" aria-hidden="true">Products</i></a
        >
      </li>
      <li class="nav-item" [ngClass]="admin">
        <a class="nav-link" routerLink="/selling"
          ><i class="fa fa-briefcase" aria-hidden="true">Selling</i></a
        >
      </li>
      <li class="nav-item" [ngClass]="admin">
        <a class="nav-link" routerLink="/cart">
          <i class="fa fa-briefcase" aria-hidden="true">Cart</i>
        </a>
      </li>
      <li class="nav-item" [ngClass]="basicNavitems">
        <a class="nav-link" routerLink="/login"
          ><i class="fa fa-user-plus" aria-hidden="true">Login</i></a
        >
      </li>
      <li class="nav-item" [ngClass]="basicNavitems">
        <a class="nav-link" routerLink="/signup"
          ><i class="fa fa-sign-in" aria-hidden="true">Signup</i></a
        >
      </li>
      <li class="nav-item" [ngClass]="admin">
        <a class="nav-link" (click)="logout()"
          ><i class="fa fa-sign-out" aria-hidden="true">Logout</i></a
        >
      </li>
    </ul>
  </div>
  <div class="picture mt-2" [mat-menu-trigger-for]="sections">
    <div class="pic_sec">
      <img class="img" [src]="imageUpdated" alt="" width="60px" height="60px" />

      <div class="img-upload">
        <input
          type="file"
          (change)="imageCrop($event)"
          class="my-file-input"
          name=""
          id=""
        />
      </div>
    </div>
  </div>
  <mat-menu #sections="matMenu">
    <ul>
      <li mat-menu-item>
        <a (click)="gooleUserDetailsFromNavbar()">Profile</a>
      </li>
      <li mat-menu-item><a (click)="imageCropFormNavbar()">Image Crop</a></li>
    </ul>
  </mat-menu>
</nav>
