*{
    padding: 0;
    margin: 0;
}
nav{
    height: auto;
}
.adminsuccess{
    display: none;
}
.adminnotlogged{
    display: block;
}
.picture{

    .pic_sec{
     position: relative;
      right: 20px;
      padding: 3px;
      
      .img{
        border-radius: 50%;
        border: 2px solid white;
      }

    }

}