<div class="container model-popup">
  <div class="d-flex justify-content-end mt-3">
    <button (click)="closeAddAdminDialogComponent()">
      <i class="fa fa-window-close" aria-hidden="true"></i>
    </button>
  </div>
  <div class="addmainproducts mt-5">
    <form
      [formGroup]="addAdminproductDetails"
      (ngSubmit)="addAdminProductForm(addAdminproductDetails)"
    >
      <input
        type="number"
        class="product_field"
        placeholder="Enter Id"
        formControlName="productId"
      />

      <input
        type="text"
        class="product_field"
        placeholder="Enter Product Title"
        formControlName="title"
      />
      <input
        type="number"
        placeholder="Enter Quantity"
        class="product_field"
        formControlName="quantity"
      />
      <input
        type="number"
        placeholder="Enter Rating"
        class="product_field"
        formControlName="rating"
      />
      <input
        type="number"
        placeholder="Enter Price"
        class="product_field"
        formControlName="price"
      />
      <span
        *ngIf="productprice && productprice.invalid && productprice.touched"
        class="text-danger"
        >please enter valid price</span
      >
      <input
        type="text"
        class="product_field"
        placeholder="Please Upload Image Url"
        formControlName="image"
      />
      <div formArrayName="imagesUrls">
        <div *ngFor="let images of imageUrls; let i = index">
          <div [formGroupName]="i">
            <div class="addimageurls">
              <input
                type="text"
                name=""
                id=""
                class="product_field"
                placeholder="image url 1"
                formControlName="imageurl1"
              />
              <input
                type="text"
                class="product_field"
                placeholder="image url 2"
                formControlName="imageurl2"
              />
              <input
                type="text"
                class="product_field"
                placeholder="image url 3"
                formControlName="imageurl3"
              />
              <button class="btn btn-danger" (click)="removeImageUrls(i)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-success" (click)="addImageUrls()">
        +Add more image urls
      </button>
      <input
        type="text"
        class="product_field"
        placeholder="Add Product Category"
        formControlName="category"
      />
      <input
        type="text"
        class="product_field"
        placeholder="Add Product Sub-category"
        formControlName="subcategory"
      />
      <div formArrayName="sellerInformation">
        <div *ngFor="let sellerFields of seller; let i = index">
          <div [formGroupName]="i">
            <div class="addsellerdetails">
              <input
                type="number"
                placeholder="Enter product price"
                class="product_field"
                formControlName="productPrice"
              />
              <textarea
                cols="12"
                rows="12"
                placeholder="Enter seller Address"
                class="product_field"
                formControlName="productAddress"
              ></textarea>
              <!-- <input type="text" name="" id="" /> -->
              <input
                type="text"
                class="product_field"
                placeholder="Enter product brand"
                formControlName="productBrand"
              />
              <input
                type="text"
                formControlName="title"
                placeholder="Enter Title"
              />
              <input
                type="text"
                formControlName="price"
                placeholder="Enter Price"
              />
              <input
                type="text"
                formControlName="brand"
                placeholder="Enter Brand"
              />
              <input
                type="text"
                formControlName="category"
                placeholder="Enter Ctagory"
              />
              <input
                type="text"
                formControlName="vendor"
                placeholder="Enter vendor"
              />
              <input
                type="text"
                formControlName="image"
                placeholder="Enter Image url"
              />
              <input
                type="text"
                formControlName="imageurl2"
                placeholder="Enter Image url"
              />
              <input
                type="text"
                formControlName="imageurl3"
                placeholder="Enter Image url"
              />

              <button class="btn btn-danger" (click)="removeSellerDetails(i)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-success" (click)="addSellerDetails()">
        +Add similar prodcut details
      </button>
      <div class="d-flex justify-content-center">
        <input
          type="submit"
          class="btn btn-success"
          value="Add Details"
          [disabled]="addAdminproductDetails.invalid"
        />
      </div>
    </form>
  </div>
</div>
