.cartsection{
  border: 2px solid red;
  padding: 50px;
  .payment_and_remove_btns{
    padding: 10px;

  }
}
.carttable{
  margin: 0 auto;
}
.carttablehidden{
   display:none;
}
.carttableshow{
    display: block;
    width: 80%;
}
.cart_empty_error_hidden{
  display: none;
}
.cart_empty_error_visible{
  display: block;
}