.inputsearch{
    width: 500px;
    height: 35px;
    border-radius: 5px;
}
.search{
    height:35px;
    width: 150px;
    border-radius:10px;
    margin-left:0.5px;
}
.search:hover{
    background-color: rgb(195, 200, 199);
    color:black ;
 
}
.selling_header{
 display: flex;
 justify-content: space-between;
 padding: 10px;
 .cart-icon{
     text-decoration: none;
    .cart-length{
        position: relative;
        bottom:20px;
        right:12px;
        font-size: 25px;
        color: red;
        font-weight: bold;
    }
 }
}
.grid{
    display: grid;
    gap:1rem;
    grid-template-columns: auto auto auto auto;
    
}
