<div class="container search_field">
  <div class="search-and-icon">
    <i class="fa fa-search sarch-icon" aria-hidden="true"></i>
    <input type="text" [(ngModel)]="searchItem" class="search-button" />
  </div>
</div>
<div class="grid p-3 justify-content-center">
  <div *ngFor="let data of produtsData | filter : searchItem">
    <div class="card m-2">
      <img
        class="card-img-top"
        src="{{ data.image }}"
        alt="Card image cap"
        width="80px"
        height="150px"
      />
      <div class="card-body">
        <h5 class="card-title text-danger">
          {{ data.title.slice(0, 15) }}
        </h5>
        <p class="card-text fs-6 p-2">
          price:{{ data.price | currency : "INR" }}
        </p>
        <a
          routerLink="/productdetails"
          class="btn btn-danger p-2 fs-6"
          (click)="getId(data.id)"
          >View</a
        >
      </div>
    </div>
  </div>
</div>
