<!-- main section icons start -->

<div class="container main-items">
  <div class="d-flex justify-content-between">
    <div class="main">
      <a
        routerLink="/products"
        (click)="filter('all')"
        class="text-decoration-none"
        ><img
          class="men-img"
          src="../../assets/menu-pics/Justin-Bieber-PNG-Transparent-Image.png"
          alt=""
          width="100px"
          height="100px"
        />
        <p>All products</p></a
      >
    </div>
    <div class="main">
      <a
        routerLink="/products"
        (click)="filter('men`s clothing')"
        class="text-decoration-none"
        ><img
          class="men-img"
          src="../../assets/menu-pics/Justin-Bieber-PNG-Transparent-Image.png"
          alt=""
          width="100px"
          height="100px"
        />
        <p>Mens</p></a
      >
    </div>
    <div class="main">
      <a
        routerLink="/products"
        (click)="filter('women')"
        class="text-decoration-none"
        ><img
          class="men-img"
          src="../../assets/menu-pics/PNGPIX-COM-Elegant-Fashionable-Woman-Wearing-Red-Roses-Wreath-on-Her-Head-PNG-Image.png"
          alt=""
          width="100px"
          height="100px"
        />
        <p>Women</p></a
      >
    </div>
    <div class="main">
      <a
        routerLink="/products"
        (click)="filter('jewelery')"
        class="text-decoration-none"
        ><img
          class="men-img"
          src="../../assets/menu-pics/jewllary.png"
          alt=""
          width="100px"
          height="100px"
        />
        <p>Jewelery</p></a
      >
    </div>
    <div class="main">
      <a
        routerLink="/products"
        (click)="filter('shoes')"
        class="text-decoration-none"
        ><img
          class="men-img"
          src="../../assets/menu-pics/PNGPIX-COM-shoes-PNG-Transparent-Image-shoebluecanvasmen.png"
          alt=""
          width="100px"
          height="100px"
        />
        <p>Shoes</p></a
      >
    </div>
    <div class="main">
      <a
        routerLink="/products"
        (click)="filter('electronics')"
        class="text-decoration-none"
        ><img
          class="men-img"
          src="../../assets/menu-pics/electronics.png"
          alt=""
          width="100px"
          height="100px"
        />
        <p>Electronics</p></a
      >
    </div>
    <div class="main">
      <a
        routerLink="/products"
        (click)="filter('watches')"
        class="text-decoration-none"
        ><img
          class="men-img"
          src="../../assets/menu-pics/PNGPIX-COM-Smart-Watch-PNG-Transparent-Image-1.png"
          alt=""
          width="100px"
          height="100px"
        />
        <p>Watches</p></a
      >
    </div>
    <div class="main">
      <a
        routerLink="/products"
        (click)="filter('books')"
        class="text-decoration-none"
        ><img
          class="men-img"
          src="../../assets/menu-pics/Boy-Reading-Books-PNG-Image.png"
          alt=""
          width="100px"
          height="100px"
        />
        <p>Books</p></a
      >
    </div>
    <div class="main">
      <a
        routerLink="/products"
        (click)="filter('accessories')"
        class="text-decoration-none"
        ><img
          class="men-img"
          src="../../assets/menu-pics/accessories.png"
          alt=""
          width="100px"
          height="100px"
        />
        <p>Accessories</p></a
      >
    </div>
    <div class="main">
      <a
        routerLink="/products"
        (click)="filter('sports')"
        class="text-decoration-none"
        ><img
          class="men-img"
          src="../../assets/menu-pics/sports.png"
          alt=""
          width="100px"
          height="100px"
        />
        <p>Sports</p></a
      >
    </div>
  </div>
</div>

<!-- main section icons end -->
<div class="container search_field">
  <div class="search-and-icon">
    <i class="fa fa-search sarch-icon" aria-hidden="true"></i>
    <input type="text" [(ngModel)]="searchItem" class="search-button" />
  </div>
</div>
<div class="grid p-3 justify-content-center">
  <div *ngFor="let data of produtsData | filter : searchItem">
    <div class="card m-2">
      <img
        class="card-img-top"
        src="{{ data.image }}"
        alt="Card image cap"
        width="80px"
        height="150px"
      />
      <div class="card-body">
        <h5 class="card-title text-danger">
          {{ data.title.slice(0, 15) }}
        </h5>
        <p class="card-text fs-6 p-2">
          price:{{ data.price | currency : "INR" }}
        </p>
        <a
          routerLink="/productdetails"
          class="btn btn-danger p-2 fs-6"
          (click)="getId(data.id)"
          >View</a
        >
      </div>
    </div>
  </div>
</div>
