.search_field{
    width:500px;
    height:50px;
    margin: 0 auto;
    margin-top: 10px;
    .search-and-icon{ 
      
        i{
         position: absolute;
         padding:5px;
        }
    }
    .search-button{
        width:380px;
        height: 35px;
        border-radius: 5px;
        text-align: center;
    }
}
.grid{
    display:grid;
    gap: 1rem;
    // grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-template-columns: auto auto auto auto ;
}
.grid p{
   text-align: center;
}

