<div class="container payment-section">
  <div class="row">
    <div class="col-lg-8">
      <h4>SELECT PAYMENT METHOD</h4>
      <div class="row">
        <div class="col-lg-5">
          <div class="payment_sidebar">
            <ul>
              <li><a href=""> ATM/DEBIT CARD</a></li>
              <li><a href=""> CREDIT CARD</a></li>
              <li><a href="">EMI</a></li>
              <li><a href="">INTERNET BANKING</a></li>
              <li><a href=""> GOOGLE/PHONE PAY</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam,
            reiciendis.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="container">
        <div class="amount-details">
          <span class="d-flex justify-space-between"
            ><p>MRP:</p>

            <p class="text-danger">
              {{ cartTotalPrice | currency : "INR" }}
            </p></span
          >
          <span><p>Retail Discount:</p></span>
          <span><p>Offer Price:</p></span>
          <span><p>Delivery Fees:</p></span>
        </div>
        <div class="Total-price">
          <span class="d-flex justify-space-between">
            <p>Total Price:</p>
            <p class="text-danger">
              {{ cartTotalPrice | currency : "INR" }}
            </p></span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 bg-success">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        suscipit libero tenetur repellat repudiandae laboriosam dolor odit
        tempora odio reprehenderit fugit laudantium pariatur eos deleniti,
        incidunt a id vel ducimus facilis totam atque dolorum. Iste eum illo
        quos illum nam.
      </p>
    </div>
  </div>
</div>
