<div class="container-fluid home_div">
  <img
    src="../../assets/homeimage.jpeg"
    alt="ecommercepic"
    width="100%"
    height="400px"
    class="home_image"
  />
</div>
<div class="container mt-5 p-2 bg-light">
  <div class="row mt-3">
    <div class="col-sm-3">
      <div class="card" style="width: 10rem">
        <img
          src="../../assets/produtcsimages/mens.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="card-text text-primary">Mens Shopping</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 10rem">
        <img
          src="../../assets/produtcsimages/women.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="card-text text-primary">Women Shopping</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 10rem">
        <img
          src="../../assets/produtcsimages/kids.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="card-text text-primary">Kids Shopping</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 10rem">
        <img
          src="../../assets/produtcsimages/sports.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="card-text text-primary">Sports Shopping</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-3">
      <div class="card" style="width: 10rem">
        <img
          src="../../assets/produtcsimages/electronics.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="card-text text-primary">Electronics Shopping</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 10rem">
        <img
          src="../../assets/produtcsimages/books.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <div class="card-text text-primary">Books Shopping</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 10rem">
        <img
          src="../../assets/produtcsimages/footwear.jpg"
          alt="footwear image"
          class="card-img-top"
        />
        <div class="card-body">
          <div class="card-text text-primary">Footwear Shopping</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 10rem">
        <img
          src="../../assets/produtcsimages/automobileaccessories.jpg"
          alt=""
          class="card-top-img"
        />
        <div class="card-body">
          <div class="card-text text-primary">Automobile Accessories</div>
        </div>
      </div>
    </div>
  </div>
</div>
